/*---Reusable variables---*/

/*--Blue version--*/

/*:root {
    --text-color1: #00b3fa;
    --text-color2: #001336;
    --background-color: rgba(0, 179, 250, 0.712);
    --button-color: #fc5c12;
}*/

/*--Orange version--*/

:root {
    --text-color1: #fc5c12;
    --text-color2: #1a3600;
    --background-color: rgba(252, 92, 18, 0.705);
    --button-color: #4fa300;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'sans serif';
    background-image: url(../trips/trips_oslo_bg.jpg);
    background-size: cover;
    background-position: center;
}

header,
footer {
    background-color: var(--background-color);
}

footer p {
    padding: 1em;
    color: var(--text-color2);
    margin-top: 1em;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

/*---Navigation---*/

nav ul li {
    list-style: none;
    display: inline-flex;
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
    margin: 1em;
}

.site-nav a:link,
.site-nav a:visited {
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
    color: var(--text-color2);
    box-sizing: border-box;
    margin-right: 32px;
}

.site-nav a:hover,
.site-nav a:active {
    text-decoration: underline;
}

.burger {
    color: var(--text-color2);
    padding: 0.5em;
}

@media(max-width: 650px) {
    nav ul li a {
        font-size: 100%;
        margin: 0.5em;
    }
}

@media(max-width: 580px) {
    .site-nav {
      display: none;
    }
    
    .site-nav.toggleMenu {
      display: block;
    }

    nav ul li {
        display: block;
    }
}
  
@media(min-width: 580px) {
    .burger {
      display : none;
    }
}

/*-----Trip Box----*/

h2 {
    color: var(--text-color2);
    padding: 1em;
}

.trip-box {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    color: var(--text-color2);
    display: grid;
    grid-gap: 1em;
    padding: 1em;
}

.trip-box img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.trip-box p {
    margin-top: 1em;
    font-weight: 500;
}

@media(max-width: 580px) {
    .trip-box {
        width: 100%;
        display: grid;
    }
}