/*---Reusable variables---*/

:root {
    --orange: #fc5c12;
    --text-color: #1a3600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'sans serif';
    background-image: url(../kayaking-page/images/kayaking-main.jpg);
    background-size: cover;
    background-position: center;
}

header,
footer {
    background-color: hsla(19, 98%, 53%, 0.5);
}

footer p {
    padding: 1em;
    color: var(--text-color);
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

/*---Navigation---*/

nav ul li {
    list-style: none;
    display: inline-flex;
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
    margin: 1em;
}

.site-nav a:link,
.site-nav a:visited {
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
    color: var(--text-color);
    box-sizing: border-box;
    margin-right: 32px;
}

.site-nav a:hover,
.site-nav a:active {
    text-decoration: underline;
}

@media(max-width: 650px) {
    nav ul li a {
        font-size: 100%;
        margin: 0.5em;
    }
}

@media(max-width: 580px) {
    nav ul li a {
        font-size: 100%;
        margin: 0.2em;
    }
}


/*--Main Page--*/

#main {
    color: var(--orange);
    font-size: 300%;
    text-align: end;
    margin-bottom: 250px;
    margin-top: 250px;
}

@media(max-width: 650px) {
    #main {
        font-size: 200%;
    }
}

@media(max-width: 500px) {
    #main {
        font-size: 150%;
    }
}



/*--Info Section--*/

#info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    margin-bottom: 5em;
}

.welcome,
.about,
.safety {
    background-color: rgba(252, 92, 18, 0.705);
    padding: 1em;
}

.welcome h1,
.about h1,
.safety h1 {
   color: var(--text-color);
}

.welcome p,
.about p,
.safety p {
   color: var(--text-color);
   line-height: 1.7;
}

@media(max-width: 700px) {
    #info {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}

/*--Location Section--*/

#locations {
    background-color: rgba(252, 92, 18, 0.705);
    color: var(--text-color);
    display: grid;
    grid-template-areas: 
    'heading heading heading'
    'oslo trondheim stavanger'
    'oslo-p trondheim-p stavanger-p'
    'oslo-btn trondheim-btn stavanger-btn';
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin-bottom: 2em;
    padding: 1em;
}

.heading {
    grid-area: heading;
    padding: 1em;
}

.oslo {
    grid-area: oslo;
    padding: 1em;
    background-image: url(images/oslo.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: auto;   
}

.oslo #pick-oslo a {
    text-decoration: none;
    color: var(--text-color);
}

.trondheim {
    grid-area: trondheim;
    padding: 1em;
    background-image: url(images/trondheim.jpg);
    background-size: cover;
    background-position: bottom;
    height: 350px;
    width: auto;
}

.stavanger {
    grid-area: stavanger;
    padding: 1em;
    background-image: url(images/stavanger.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: auto;
}

.oslo p,
.trondheim p,
.stavanger p {
    font-size: 120%;
    font-weight: 500;
    padding-bottom: 1em;
}

.oslo-p {
    grid-area: oslo-p;
    line-height: 1.7;
}

.oslo-p a {
    color: var(--text-color);
}

.trondheim-p {
    grid-area: trondheim-p;
    line-height: 1.7;
}

.trondheim-p a {
    color: var(--text-color);
}

.stavanger-p {
    grid-area: stavanger-p;
    line-height: 1.7;
}

.stavanger-p a {
    color: var(--text-color);
}

.oslo-btn,
.trondheim-btn,
.stavanger-btn {
    background-color: var(--text-color);
    padding: 0.5em;
}

.oslo-btn a,
.trondheim-btn a,
.stavanger-btn a {
    text-decoration: none;
    color: var(--orange);
    display: block;
    text-align: center;
}

.oslo-btn a:hover,
.trondheim-btn a:hover,
.stavanger-btn a:hover {
    text-decoration: underline;
}

@media(max-width: 750px) {
    #locations {
        display: grid;
        grid-template-areas: 
        'heading'
        'oslo'
        'oslo-p'
        'oslo-btn'
        'trondheim'
        'trondheim-p'
        'trondheim-btn'
        'stavanger'
        'stavanger-p'
        'stavanger-btn';
        grid-template-columns: repeat(1, 1fr);
    }

    .oslo {
        grid-area: oslo;
    }

    .oslo-p {
        grid-area: oslo-p;
    }

    .oslo-btn {
        grid-area: oslo-btn;
    }
        
    .trondheim {
        grid-area: trondheim;
    }

    .trondheim-p {
        grid-area: trondheim-p;
    }

    .trondheim-btn {
        grid-area: trondheim-btn;
    }

    .stavanger {
        grid-area: stavanger;
    }

    .stavanger-p {
        grid-area: stavanger-p;
    }

    .stavanger-btn {
        grid-area: stavanger-btn;
    }
}

/*--Photo Gallery--*/

#gallery {
    background-color: hsla(19, 98%, 53%, 0.705);
    margin-bottom: 50px;
    padding: 1em;
}

#gallery h1 {
    color: var(--text-color);
    padding: 1em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;

}

.gallery img {
    width: 100%;
    height: auto;
}

@media(max-width:500px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}