/*---Reusable variables---*/

/*--Blue version--*/

/*:root {
    --text-color1: #00b3fa;
    --text-color2: #001336;
    --background-color: rgba(0, 179, 250, 0.712);
    --button-color: #fc5c12;
}*/

/*--Orange version--*/

:root {
    --text-color1: #fc5c12;
    --text-color2: #1a3600;
    --background-color: rgba(252, 92, 18, 0.705);
    --button-color: #4fa300;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'sans serif';
    background-image: url(images/kayaking-main.jpg);
    background-size: cover;
    background-position: center;
}

header,
footer {
    background-color: var(--background-color);
}

footer p {
    padding: 1em;
    color: var(--text-color2);
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

/*---Navigation---*/

nav ul li {
    list-style: none;
    display: inline-flex;
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
    margin: 1em;
}

.site-nav a:link,
.site-nav a:visited {
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
    color: var(--text-color2);
    box-sizing: border-box;
    margin-right: 32px;
}

.site-nav a:hover,
.site-nav a:active {
    text-decoration: underline;
}

.burger {
    color: var(--text-color2);
    padding: 0.5em;
}

@media(max-width: 650px) {
    nav ul li a {
        font-size: 100%;
        margin: 0.5em;
    }
}

@media(max-width: 580px) {
    .site-nav {
      display: none;
    }
    
    .site-nav.toggleMenu {
      display: block;
    }
}
  
@media(min-width: 580px) {
    .burger {
      display : none;
    }
}


/*--Main Page--*/

#main {
    color: var(--text-color1);
    font-size: 300%;
    text-align: end;
    margin-bottom: 250px;
    margin-top: 250px;
    margin-right: 1em;
}

@media(max-width: 650px) {
    #main {
        font-size: 200%;
    }
}

@media(max-width: 500px) {
    #main {
        font-size: 150%;
    }
}



/*--Info Section--*/

#info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    margin-bottom: 5em;
}

.welcome,
.about,
.safety {
    background-color: var(--background-color);
    padding: 1em;
}

.welcome h1,
.about h1,
.safety h1 {
   color: var(--text-color2);
}

.welcome p,
.about p,
.safety p {
   color: var(--text-color2);
   line-height: 1.7;
}

@media(max-width: 700px) {
    #info {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}

/*--Location Section--*/

.select-location {
    background-color: var(--background-color);
    color: var(--text-color2);
    margin-bottom: 2em;
    padding: 1em;
}

.locations {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.oslo-box,
.trondheim-box,
.stavanger-box {
  display: grid;
}

.oslo,
.trondheim,
.stavanger {
  font-size: 130%;
  padding-bottom: 1em;
}

.locations img {
  width: 100%;
}

.oslo-text,
.trondheim-text,
.stavanger-text {
  margin-top: 1em;
  margin-bottom: 1em;
}

.oslo-text a,
.trondheim-text a,
.stavanger-text a {
  color: var(--text-color2);
}

.oslo-btn,
.trondheim-btn,
.stavanger-btn {
  color: var(--text-color1);
  background-color: var(--text-color2);
  text-decoration: none;
  padding: 0.5em;
  display: block;
  text-align: center;
}

.oslo-btn:hover,
.trondheim-btn:hover,
.stavanger-btn:hover {
    text-decoration: underline;
}

@media(max-width: 450px) {
    .locations {
        grid-template-columns: repeat(1,1fr);
    }
}

/*--Photo Gallery--*/

#gallery {
    background-color: var(--background-color);
    margin-bottom: 50px;
    padding: 1em;
}

#gallery h1 {
    color: var(--text-color2);
    padding: 1em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;

}

.gallery img {
    width: 100%;
    height: auto;
}

@media(max-width:500px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}